# datasets
data/

#jupyter notebook checkpoints
src/.ipynb_checkpoints/

#virtual environment
venv/
.venv

#pycache 
__pycache__

#test file
test.py

#training checkpoints & results
/checkpoints
/results

#training performance data
.pth